name: reasoning example

on:
  push:
    branches:
    - develop-3.0.0
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: develop-3.0.0
        path: main
    - name: Reasoning example
      run: |
          # ls -la
          # 
          # curl -L -o robot.jar "https://github.com/ontodev/robot/releases/latest/download/robot.jar"
          # java -jar robot.jar --version

